@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Prompt', sans-serif;
}

.page-container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll; 
  height:100vh;
}
.section{
  height: 100vh;
  scroll-snap-align: start;
}

.main{
  color: white;
}

.item-2{
  --animate-delay: 0.5s;
}

.item-3{
  --animate-delay: 1s;
}

.item-4{
  --animate-delay: 1.5s;
}

.item-5{
  --animate-delay: 3.5s;
}